<p id="notice"><%= notice %></p>

<p>
  <strong>\:</strong>
  <%= @library.\ %>
</p>

<p>
  <strong>Number:</strong>
  <%= @library.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @library.name %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @library.adress %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
