<h1>Home#index</h1>
<p>Здесь будет моя админка для библиотеки</p>

<tbody>

      <tr>
        <td><%= library.\ %></td>
        <td><%= library.number %></td>
        <td><%= library.name %></td>
        <td><%= library.adress %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

</tbody>